body {
  background: url("../../../static/img/homebg.png") no-repeat left top;
  background-size: 100% 100%;
  background-attachment: fixed;
}
.oneimg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.myheader {
  height: 50px;
  color: #fff;
  float: left;
  display: inline-block;
  line-height: 50px;
  font-size: 16px;
}
.myheader .h3 {
  height: 50px;
  display: inline-block;
  padding: 0 25px;
  cursor: pointer;
}
.myheader .active {
  background: url("../../../static/img/help.png") #ffffff no-repeat 20px center;
  color: #000;
  background-size: 25%;
}
.iclo {
  font-size: 12px;
  color: #999;
  margin-left: 10px;
}
.nact {
  background: #0068b7;
}
.link {
  display: inline-block;
  height: 50px;
  width: calc(100% - 120px);
}
.link li {
  display: inline-block;
  padding: 14.5px 20px;
  cursor: pointer;
}
.link li a {
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
}
.link li:hover {
  background: #0068b7;
}
.newact {
  background: #10F;
}
.mymenucool {
  padding: 5px 20px;
  border-radius: 0 15px 15px 0;
  background: #fff;
  width: 430px;
  visibility: hidden;
  position: absolute;
  z-index: 999;
  margin-top: -1px;
}
.mymenucool li {
  color: #000;
  font-weight: bold;
  height: 40px;
  line-height: 40px;
  float: left;
  font-size: 16px;
  padding: 0 20px;
  border-bottom: 1px solid #ccc;
}
.mymenucool .dependli {
  width: 104px;
  float: left;
}
.mymenucool .dependli dd {
  color: #000;
  margin: 4px 0;
  line-height: 32px;
  padding-left: 10px;
  cursor: pointer;
}
.mymenucool .dependli dd:hover {
  background: #0BB4F323;
  color: #0068b7;
}
.mymenucool .dependli:hover {
  box-sizing: border-box;
  border-top: 2px solid #0068b7;
}
.mymenucool .banner {
  width: 470px;
  float: left;
  margin-left: -20px;
  margin-bottom: -5px;
}
.mymenucool .banner dd {
  float: left;
  padding: 0 22.5px;
  color: #000;
  box-sizing: border-box;
  border-left: 1px solid #ccc;
  border-top: 1px solid #f7f7f7;
  cursor: pointer;
  background: #eee;
}
.mymenucool .banner dd i {
  color: #999;
}
.mymenucool .banner dd:last-child {
  border-bottom-right-radius: 15px;
}
.mymenucool .banner dd:hover {
  background: #ccc;
}
.mymenucool:after {
  content: '';
  width: 0;
  height: 0;
  display: block;
  clear: both;
}
.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
  font-size: 26px;
  color: #FFFFFF;
}
.function {
  width: 1026px;
  height: 450px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -225px;
  margin-left: -513px;
}
.function .functionbox {
  width: 1026px;
  height: 410px;
}
.function .functionbox li {
  background: linear-gradient(180deg, rgba(219, 236, 253, 0.3), rgba(102, 146, 217, 0.5));
  box-shadow: 0px 1px 5px 3px #27389b;
  position: relative;
  cursor: pointer;
}
.function .functionbox .fleft {
  width: 410px;
  height: 410px;
  float: left;
}
.function .functionbox .fleft .nchange {
  color: #999;
  position: absolute;
  margin-left: 380px;
  margin-top: 8px;
  cursor: pointer;
}
.function .functionbox .fleft .reveal1 {
  padding: 30px;
  height: 350px;
}
.function .functionbox .fleft .reveal1 h6 {
  color: #fff;
  padding: 0 30px;
}
.function .functionbox .fleft .reveal1 .totalimg {
  padding: 15px 25px 20px 25px;
  border-bottom: 1px solid #999;
}
.function .functionbox .fleft .reveal1 .totalimg img {
  width: 100%;
}
.function .functionbox .fleft .reveal1 .total {
  float: left;
  padding: 60px 20px;
  width: 134.5px;
  height: 55px;
  color: #fff;
  text-align: center;
  font-size: 20px;
}
.function .functionbox .fleft .reveal1 .til {
  background: url("../../../static/img/blueCircle.png") no-repeat center;
  background-size: 70%;
  border-right: 1px solid #999;
}
.function .functionbox .fleft .reveal1 .tir {
  background: url("../../../static/img/purpleCircle.png") no-repeat center;
  background-size: 70%;
}
.function .functionbox .fleft .reveal2 {
  padding: 30px;
  height: 350px;
}
.function .functionbox .fleft .reveal2 h4 {
  color: #fff;
  text-align: center;
  margin-bottom: 10px;
}
.function .functionbox .fleft .reveal2 .total {
  float: left;
  padding: 50px 20px;
  width: 134.5px;
  height: 55px;
  color: #fff;
  text-align: center;
  font-size: 20px;
}
.function .functionbox .fleft .reveal2 .til1 {
  background: url("../../../static/img/greencircle.png") no-repeat center;
  background-size: 70%;
  border-bottom: 1px solid #999;
  border-right: 1px solid #999;
}
.function .functionbox .fleft .reveal2 .tir1 {
  background: url("../../../static/img/redcircle.png") no-repeat center;
  background-size: 70%;
  border-bottom: 1px solid #999;
}
.function .functionbox .fleft .reveal2 .til2 {
  background: url("../../../static/img/skybluecircle.png") no-repeat center;
  background-size: 70%;
  border-right: 1px solid #999;
}
.function .functionbox .fleft .reveal2 .tir2 {
  background: url("../../../static/img/yellowcircle.png") no-repeat center;
  background-size: 70%;
}
.function .functionbox .fright {
  width: 600px;
  height: 410px;
  float: right;
}
.function .functionbox .fright li {
  float: left;
  width: 140px;
  height: 200px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.function .functionbox .fright li:first-child {
  width: 290px;
}
.function .functionbox .fright li:hover {
  transform: scale(1.03, 1.03);
  -webkit-transform: scale(1.03, 1.03);
  -moz-transform: scale(1.03, 1.03);
  -o-transform: scale(1.03, 1.03);
}
.function .functionbox .fright i {
  font-size: 26px;
  padding: 20px 0;
}
.function .functionbox .fright .bg {
  text-align: center;
  padding: 55px 0;
  color: #fff;
}
.function .functionbox .fright a {
  color: #fff;
  text-decoration: none;
}
.function .functionbox .fright .bg1 {
  background: url("../../../static/img/shoufei.png") no-repeat center 60px;
}
.function .functionbox .fright .bg2 {
  background: url("../../../static/img/class.png") no-repeat center 60px;
}
.function .functionbox .fright .bg3 {
  background: url("../../../static/img/xinshou.png") no-repeat center 60px;
}
.function .functionbox .fright .bg4 {
  background: url("../../../static/img/tuifei.png") no-repeat center 60px;
}
.function .functionbox .fright .bg5 {
  background: url("../../../static/img/jiezhuan.png") no-repeat center 60px;
}
.function .functionbox .fright .bg6 {
  background: url("../../../static/img/kecheng.png") no-repeat center 60px;
}
.function .functionbox .fright .bg7 {
  background: url("../../../static/img/help.png") no-repeat center 60px;
}
.function .functionbox .bi {
  position: absolute;
  color: #fff;
  margin-top: -10px;
  right: 0;
  display: none;
  margin-right: 10px;
}
.function .functionbox .bi i {
  font-size: 16px;
}
.chiocebox {
  width: 818px;
  height: 818px;
  position: absolute;
  background: #eee;
  top: 50%;
  left: 50%;
  margin-top: -420px;
  margin-left: -420px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.chiocebox .imgtl {
  margin-left: -10px;
  margin-top: -1px;
  float: left;
}
.chiocebox .title {
  height: 40px;
}
.chiocebox .title h3 {
  float: left;
  padding: 0 30px;
  display: inline-block;
  height: 38px;
  border: 1px solid #C4CAD7;
  border-top: 0;
  border-left: 0;
  line-height: 38px;
  background: #fff;
}
.chiocebox .title .rem {
  line-height: 38px;
  color: #999;
  float: right;
  margin-right: 15px;
  cursor: pointer;
  font-size: 20px;
}
.chiocebox .title .menubox {
  margin: 0 auto;
  height: 634px;
  width: 720px;
  background: #fff;
  padding: 30px;
}
.chiocebox .title .menubox ul {
  width: 100%;
  height: 160px;
}
.chiocebox .title .menubox ul li {
  width: 80px;
  height: 50px;
  float: left;
  margin: 20px 30px 20px 0px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #999;
  background: #ddd;
  padding: 15px 0;
  font-size: 12px;
  cursor: pointer;
}
.chiocebox .title .menubox ul li i {
  color: #0068b7;
  font-size: 22px;
  margin-bottom: 10px;
}
.chiocebox .title .menubox ul li .iact {
  color: #fff;
}
.chiocebox .title .menubox ul li:hover {
  border: 1px #0068b7 solid;
}
.chiocebox .title .menubox ul .liiact {
  background: #0068b7;
  color: #fff;
  border: 1px solid #2380DBFF;
}
.chiocebox .title .btnbox {
  height: 50px;
  width: 100%;
  background: #fff;
  margin-top: 26px;
  border-radius: 5px;
  position: relative;
}
.chiocebox .title .btnbox button {
  border: 1px solid #ccc;
  padding: 6px 20px;
  border-radius: 5px;
  position: absolute;
  right: 30px;
  top: 10px;
  cursor: pointer;
}
.username {
  color: #566CB6;
  font-size: 20px;
  margin-bottom: 14px;
}
.username i {
  padding-right: 10px;
}
.container {
  margin: 15px auto;
  width: calc(100% - 70px);
  height: calc(100% - 90px);
  background: #fff;
  padding: 20px;
}
.container .signup li {
  float: left;
  padding: 5px 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}
.container .signup li:hover {
  border-color: #0068b7;
  color: #0068b7;
}
.container .signup .entering {
  float: left;
  margin-right: 10px;
}
.container .signup .entering input {
  float: left;
  width: 160px;
  height: 30px;
  border: 1px solid #ccc;
  outline: none;
  padding-left: 10px;
  border-radius: 5px 0 0 5px;
}
.container .signup .entering button {
  float: left;
  height: 32px;
  padding: 0 15px;
  background: #eee;
  color: #999;
  border: 1px solid #ccc;
  border-left: 0;
  cursor: pointer;
  outline: none;
  border-radius: 0 5px 5px 0;
}
.container .signup .entering button:hover {
  background: #3673FF;
  color: #fff;
}
.container .signup:after {
  content: '';
  width: 0;
  height: 0;
  display: block;
  clear: both;
}
.container .stutable {
  margin-top: 20px;
  border: 1px solid #ccc;
  border-bottom: 0;
  width: 100%;
}
.container .stutable td {
  border-bottom: 1px solid #ccc;
  text-align: center;
  line-height: 40px;
}
.container .stutable td .action {
  position: absolute;
  text-align: left;
  padding: 10px 0;
  box-shadow: 1px 1px 2px 1px #888888;
  margin-left: -100px;
  background: #fff;
  margin-top: -14px;
  display: none;
}
.container .stutable td .action li {
  line-height: 40px;
  padding: 0 10px;
}
.container .stutable td .action li:hover {
  background: #42B7BCA1;
}
.container .stutable tr:nth-child(2n-1) {
  background: #f9f9f9;
}
.container .stutable tr:hover {
  background: #00B9FF15;
}
.container .stutable th {
  background: #eee;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}
.container .stutable .stuname {
  width: 12%;
  text-align: left;
  padding-left: 0;
}
.container .pagebox {
  width: 320px;
  height: 30px;
  line-height: 30px;
  margin: 20px auto;
}
.container .pagebox li {
  display: inline-block;
  padding: 0 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}
.container .popup {
  position: absolute;
  left: 50%;
  top: 0;
  display: none;
  width: 820px;
  margin-left: -410px;
  margin-top: 40px;
  background: #eee;
  border: 1px solid #ccc;
  border-radius: 0 5px 5px 5px;
}
.container .popup img {
  position: absolute;
  margin-top: -1px;
  margin-left: -10px;
}
.container .popup .poptl {
  height: 40px;
  width: 100%;
}
.container .popup .poptl h3 {
  display: inline-block;
  line-height: 39px;
  padding: 0 20px;
  background: #fff;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.container .popup .poptl .rem {
  position: absolute;
  right: 0;
  margin-right: 20px;
  margin-top: 10px;
  font-size: 18px;
  color: #999;
  cursor: pointer;
}
.container .popup .sebox {
  position: relative;
  padding: 10px 15px;
  height: 30px;
  background: #fff;
  width: calc(100% - 60px);
  overflow: hidden;
  margin: 10px auto;
}
.container .popup .sebox input[type=text] {
  height: 30px;
  box-sizing: border-box;
  width: 200px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 10px;
}
.container .popup .sebox input[type=checkbox] {
  margin-left: 20px;
}
.container .popup .sebox button {
  border: 1px solid #ccc;
  padding: 5px 20px;
  background: #fff;
  border-radius: 5px;
  margin-left: 20px;
}
.container .popup .sebox .down {
  position: absolute;
  right: 0;
  margin-right: 8px;
  margin-top: 8px;
  font-size: 20px;
  cursor: pointer;
}
.container .popup .sebox select {
  height: 30px;
  margin-top: 10px;
  border-radius: 5px;
  padding-left: 10px;
  margin-right: 10px;
  width: 200px;
  outline: none;
}
.container .popup .coursetb {
  position: relative;
  padding: 10px 15px;
  background: #fff;
  width: calc(100% - 60px);
  margin: 10px auto;
}
.container .popup .coursetb table {
  width: 100%;
  border: 1px solid #ccc;
  border-bottom: 0;
}
.container .popup .coursetb table th {
  padding: 10px 15px;
  background: #eee;
  border-bottom: 1px solid #ccc;
  text-align: left;
}
.container .popup .coursetb table td {
  padding: 10px 15px;
  border-bottom: 1px solid #ccc;
  text-align: left;
}
.container .popup .coursetb table tr:nth-child(2n-1) {
  background: #01FD0907;
}
.container .popup .coursetb table tr:hover {
  background: #000BFE07;
}
.container .popup .ensure {
  margin-top: 20px;
  height: 30px;
  background: #fff;
  padding: 10px 15px;
  border-radius: 0 0 5px 5px;
  position: relative;
  line-height: 30px;
}
.container .popup .ensure button {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px 20px;
  position: absolute;
  right: 0;
  margin-right: 15px;
  cursor: pointer;
}
.popup2 {
  position: absolute;
  left: 50%;
  top: 0;
  width: 820px;
  margin-left: -410px;
  margin-top: 40px;
  background: #eee;
  border: 1px solid #ccc;
  border-radius: 0 5px 5px 5px;
}
.popup2 img {
  position: absolute;
  margin-top: -1px;
  margin-left: -10px;
}
.popup2 .poptl {
  height: 40px;
  width: 100%;
}
.popup2 .poptl h3 {
  display: inline-block;
  line-height: 39px;
  padding: 0 20px;
  background: #fff;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.popup2 .poptl .rem {
  position: absolute;
  right: 0;
  margin-right: 20px;
  margin-top: 10px;
  font-size: 18px;
  color: #999;
  cursor: pointer;
}
.popup2 .sebox {
  position: relative;
  padding: 10px 15px;
  height: 30px;
  background: #fff;
  width: calc(100% - 60px);
  overflow: hidden;
  margin: 10px auto;
}
.popup2 .sebox input[type=text] {
  height: 30px;
  box-sizing: border-box;
  width: 200px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 10px;
}
.popup2 .sebox input[type=checkbox] {
  margin-left: 20px;
}
.popup2 .sebox button {
  border: 1px solid #ccc;
  padding: 5px 20px;
  background: #fff;
  border-radius: 5px;
  margin-left: 20px;
}
.popup2 .sebox .down {
  position: absolute;
  right: 0;
  margin-right: 8px;
  margin-top: 8px;
  font-size: 20px;
  cursor: pointer;
}
.popup2 .sebox select {
  height: 30px;
  margin-top: 10px;
  border-radius: 5px;
  padding-left: 10px;
  margin-right: 10px;
  width: 200px;
  outline: none;
}
.popup2 .coursetb {
  position: relative;
  padding: 10px 15px;
  background: #fff;
  width: calc(100% - 60px);
  margin: 10px auto;
}
.popup2 .coursetb table {
  width: 100%;
  border: 1px solid #ccc;
  border-bottom: 0;
}
.popup2 .coursetb table th {
  padding: 10px 15px;
  background: #eee;
  border-bottom: 1px solid #ccc;
  text-align: left;
}
.popup2 .coursetb table td {
  padding: 10px 15px;
  border-bottom: 1px solid #ccc;
  text-align: left;
}
.popup2 .coursetb table tr:nth-child(2n-1) {
  background: #01FD0907;
}
.popup2 .coursetb table tr:hover {
  background: #000BFE07;
}
.popup2 .ensure {
  margin-top: 20px;
  height: 30px;
  background: #fff;
  padding: 10px 15px;
  border-radius: 0 0 5px 5px;
  position: relative;
  line-height: 30px;
}
.popup2 .ensure button {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px 20px;
  position: absolute;
  right: 0;
  margin-right: 15px;
  cursor: pointer;
}
